
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Courgette&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #ee5908;
    text-decoration: none;
    padding: 35px;
}

body {
    background-color: #FFFFFF;
    font-family: Aleo, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0; 
}

header {
    background-color: #fdc345;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #ee5908; 
    color: #fdc345;
}

footer {
    background-color:#fdc345;
    color: #ee5908;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #ee5908;
    text-decoration: none;
}
footer a:hover {
    color: #ee5908;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
} 
footer .social img {
    padding-top: 15px;
}


.logo {
    width: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

 

.memory-img, .identity-img {
    width: 75%;
    
}

.memory-card, .identity-card {
    margin: 0 auto;
    text-align: center;
}
.memory-card p {
    padding-left: 200px;
    padding-right: 200px;
    color: #ee5908;
}

.identity-card p {
    padding-left: 200px;
    padding-right: 200px;
    color: #ee5908;
}

.title1, .title2 {
    text-align: center;
    padding-top: 100px;
    font-family: "Courgette";
}

.title1 h1{
    color: #548AFF;
    font-size: 2em;
} 
.title2 h1 {
    color: #548AFF;
    font-size: 2em;
}

/*SUBPAGE1*/
.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.info1 {
    background-color: #fdc345;
    line-height: 1em;
    grid-column: 7/12;
    grid-row: 2/3;
    margin: 100px 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px; 
}
.info2 {
    background-color: #fdc345;
    line-height: 1em;
    grid-column: 7/12;
    grid-row: 4/5;
    margin: 100px 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px; 
}
.info3 {
    background-color: #fdc345;
    line-height: 1em;
    grid-column: 7/12;
    grid-row: 6/7;
    margin: 100px 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 140px;
}
.info1 h2, .info2 h2, .info3 h2 {
    color: #0081a7;
    font-family: "Courgette";
    font-size: 1.5em;
    text-align: center;
}
.info1 p, .info2 p, .info3 p {
    color: #0081a7;
    font-size: .8em;
    text-align: center;
}

.service-img {
    width: 100%; 
    box-shadow: 5px 5px 10px #ee5908;
}
.screenprinting-card {
    grid-column: 2/6;
    grid-row: 2/3;
}
.embroidery-card {
    grid-column: 2/6;
    grid-row: 4/5;
}
.sublimation-card {
    grid-column: 2/6;
    grid-row: 6/7;
}
.screenprinting-card, .embroidery-card, .sublimation-card {
    margin: 100px 0;
}

.new-botton {
   grid-column: 11/13;
   grid-row: 11/12;
}
.previous {
    background-color: #0081a7;
    color: #fdc345;
    font-size: 1em;
    text-decoration: none;
    
}
.next {
    background-color: #0081a7;
    color: #fdc345;
    font-size: 1em;
    text-decoration: none;
    
} 

/*SUBPAGE2*/
.sewing-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.infor1 {
    background-color: #fdc345;
    line-height: 1em;
    grid-column: 2/6;
    grid-row: 2/3;
    margin: 100px 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px; 
}
.infor2 {
    background-color: #fdc345;
    line-height: 1em;
    grid-column: 7/12;
    grid-row: 4/5;
    margin: 100px 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px; 
}
.infor1, .infor2 {
    margin: 300px 0;
}
.infor1 h2, .infor2 h2 {
    color: #0081a7;
    font-family: "Courgette";
    font-size: 1.5em;
    text-align: center;
}
.infor1 p, .infor2 p {
    color: #0081a7;
    font-size: .8em;
    text-align: center;
}
.sewing-img {
    width: 100%;
    border: 10px solid #ee5908;
    box-shadow: 5px 5px 10px #fdc345 ;
}
.schools-card {
    grid-column: 7/12;
    grid-row: 2/3;

}
.bands-card {
    grid-column: 2/6;
    grid-row: 4/5;
    
}
.schools-card, .bands-card {
    margin: 100px 0;
}